@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
/* common shared styles */
* {
  margin: 0;
  padding: 0;
}
body {
  width: 1440px;
  margin: 0 auto;
  font-family: "Azeret Mono", monospace;
}
.title {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  margin-bottom: 24px;
}
.subtitle {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
}

/* navbar styles area */
#navbar {
  width: 1140px;
  height: 90px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}
#navbar h2 {
  color: rgb(13, 19, 33);
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 0%;
}
#navbar button {
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  padding: 17px 24px 17px 24px;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  cursor: pointer;
}
/* banner styles area */
#banner {
  height: 650px;
  background-image: url("../assets/images/hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#banner .banner-content {
  width: 998px;
  text-align: center;
}
#banner .banner-content h1 {
  color: rgb(13, 19, 33);
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  margin-bottom: 24px;
}
#banner .banner-content p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 30px;
}
#banner .banner-content button {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  padding: 21px 24px 21px 24px;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  border: none;
  cursor: pointer;
}
/* development styles area */
#development {
  width: 1140px;
  height: 1393px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#development .container {
  width: 946px;
  height: 1233px;
  margin: 0 auto;
}
#development .container .info {
  width: 852px;
  margin: 0 auto;
  text-align: center;
}
/* card box-1 */
.card-items .card-container1 {
  width: 946px;
  height: 336px;
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  margin-bottom: 32px;
}
.card-container1 .card-box1 {
  width: 850px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 30px;
}
.card-box1 h1,
.card-box2 h1,
.card-box3 h1 {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  margin-bottom: 16px;
}
.card-box1 p,
.card-box2 p,
.card-box3 p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
  margin-bottom: 40px;
}
.card-box1 .learn-more,
.card-box2 .learn-more,
.card-box3 .learn-more {
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
}
.card-box1 .learn-more a,
.card-box2 .learn-more a,
.card-box3 .learn-more a {
  color: rgb(13, 19, 33);
  border: 1px solid rgb(13, 19, 33);
  padding: 12px 20px 12px 20px;
  opacity: 0.7;
  text-decoration: none;
}
/* card box-2 */
.card-items .card-container2 {
  width: 946px;
  height: 336px;
  border-radius: 16px;

  background: linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  margin-bottom: 32px;
}
.card-container2 .card-box2 {
  width: 850px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 40px;
}
/* card box-3 */
.card-items .card-container3 {
  width: 946px;
  height: 336px;
  border-radius: 16px;

  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}
.card-container3 .card-box3 {
  width: 850px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 30px;
}

/*inspiration styles area */
#inspiration {
  width: 1140px;
  height: 775px;
  margin: 0 auto;
  margin-bottom: 120px;
}
#inspiration .text-content {
  width: 852px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 48px;
}
.media-content {
  width: 1140px;
  height: 614px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  padding: 32px;
}
.media-content .video {
  width: 100%;
  height: 100%;
}
.video iframe {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  border: none;
}
/*target styles area */
#current-target {
  width: 1140px;
  height: 475px;
  margin: 0 auto;
  margin-bottom: 90px;
}
#current-target .text-content {
  width: 946px;
  height: 113px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}
#current-target .target-card {
  display: flex;
  gap: 24px;
}
.target-card .html {
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
  padding: 40px;
}
.target-card .css {
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
  padding: 40px;
}
.target-card .javascript {
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
  padding: 40px;
}
.target-card .html img,
.target-card .css img,
.target-card .javascript img {
  margin-bottom: 16px;
}
.target-card .html h2,
.target-card .css h2,
.target-card .javascript h2 {
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  margin-bottom: 8px;
}
.target-card .html p,
.target-card .css p,
.target-card .javascript p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 20px;
}
.target-card .html a,
.target-card .css a,
.target-card .javascript a {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-decoration-line: underline;
}
/*support styles area */
#support {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url("../assets/images/handshake.jpg");
  width: 1140px;
  height: 313px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 50px 0px;
  margin-bottom: 80px;
}
#support .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#support .container h1 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 700;
}
#support .container p {
  color: rgb(255, 255, 255);
  font-weight: 400;
  opacity: 0.7;
  margin-bottom: 24px;
}
.container input[type="text"] {
  color: rgba(13, 19, 33, 0.4);
  width: 548px;
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  padding: 19px 20px 19px 20px;
}

.container input[type="submit"] {
  width: 120px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  background: rgb(255, 255, 255);
  padding: 17px 20px 17px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
/*footer styles area */
#footer {
  padding: 32px 150px 32px 150px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
  margin-bottom: 20px;
}
.footer-container {
  width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.footer-text h2 {
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
}
.footer-container .footer-icon ul {
  display: flex;
  gap: 24px;
}
.footer-container .footer-icon ul li {
  list-style: none;
}
